.card.w-50 {
  border: 2px solid #1e3857;
}
.card-text,
.date,
.current,
.sun,
.current-details,
.last-updated,
.card-subtitle,
.temp-description,
.emoji,
.btn.btn-outline-primary,
.minMax,
.changingTime {
  position: relative;
}
.card-text {
  bottom: 20px;
}
.sun {
  font-size: 70px;
  line-height: 15px;
  bottom: 50px;
  right: 20px;
}

.current-details {
  bottom: 80px;
}

#currentTemp {
  font-size: 40px;
}
.date {
  top: -45px;
}

.last-updated {
  top: -45px;
}

.card-subtitle {
  top: -45px;
}

.temp-description {
  left: 120px;
  top: -90px;
}

.city {
  font-size: 25px;
  display: block;
  font-family: "Fjalla One", sans-serif;
  color: bisque;
}

.card.ml-3 {
  max-height: 220px;
}

.btn.btn-outline-success {
  margin: 0;
}
.card-body.day {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.card-body {
  background-image: linear-gradient(to top, #a3bded 0%, #476c91 100%);
  margin: 0;
  color: bisque;
}

.card-title {
  font-size: 28px;
  color: bisque;
}

sup {
  font-size: 15px;
}

.emoji {
  line-height: 2px;
  bottom: 30px;
  left: 270px;
}
.btn.btn-outline-primary {
  right: 1px;
}

.temp-description .active {
  color: bisque;
  cursor: default;
}
.temp-description .active:hover {
  text-decoration: none;
}

#current-description::first-letter {
  text-transform: uppercase;
}

.card .other-day {
  max-height: 70px;
}

.minMax {
  left: 135px;
  bottom: 15px;
}

.changingTime {
  bottom: 15px;
}
