.card.w-50 {
  border: 2px solid #1e3857;
}
.card-text,
.date,
.current {
  position: relative;
}
.card-text {
  bottom: 20px;
}
.sun {
  font-size: 70px;
  line-height: 15px;
}

.date {
  top: -45px;
}

.card-subtitle {
  position: relative;
  top: -40px;
}

.temp-description {
  position: relative;
  left: 120px;
  top: -90px;
}

.city {
  font-size: 25px;
  display: block;
  font-family: "Fjalla One", sans-serif;
  color: bisque;
}

.card.ml-3 {
  max-height: 220px;
}

.btn.btn-outline-success {
  margin: 0;
}
.card-body.day {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.card-body {
  background-image: linear-gradient(to top, #a3bded 0%, #476c91 100%);
  margin: 0;
  color: bisque;
}

.card-title {
  font-size: 28px;
  color: bisque;
}

sup {
  font-size: 15px;
}

.emoji,
.emoji1,
.emoji2,
.emoji3,
.emoji4 {
  position: relative;
  font-size: 40px;
  line-height: 2px;
}
.emoji {
  left: 335px;
}
.emoji1 {
  left: 370px;
}
.emoji2 {
  left: 350px;
}
.emoji3 {
  left: 355px;
}
.emoji4 {
  left: 358px;
}
.emoji1.last {
  margin-bottom: 10px;
}

.btn.btn-outline-primary {
  position: relative;
  right: 1px;
}
